{% extends 'base.html' %}
{% block button %}
<span class="float-right">
    <button class="btn btn-outline-secondary" onclick="location.href='{% url 'home' %}'">블로그</button>
</span>
<span class="float-right">
    <button class="btn btn-outline-secondary" onclick="location.href='{% url 'welcome' %}'">홈</button>
</span>
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h1 id="title" class="h1 text-body">New comment</h1>
    <hr>
    <form method="POST" class="post-form">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark">댓글달기</button>
    </form>
</div>
{% endblock %}