{% extends 'base.html' %}
{% block button %}
<span class="float-right">
    <button class="btn btn-outline-secondary" onclick="location.href='{% url 'welcome' %}'">홈</button>
</span>
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <span class="h1 text-body" id="title">BLOG
    <button class="btn btn-outline-primary" onclick="location.href='{% url 'newblog' %}'">글쓰기</button></span>
    <hr style="background-color:black">

    {% for blog in blogs %}
    <span class="h2">{{blog.title}}  </span><span>{{blog.pub_date}}</span>
    <a href="{% url 'update' blog.id %}" class="btn btn-outline-success float-right"> 수정</a>
    <a href="{% url 'delete' blog.id %}" class="btn btn-outline-danger float-right" onclick="return confirm('정말 삭제하시겠습니까?')"> 삭제</a>
    <br><br>
    <p class="h5">{{blog.body}}</p>
    <br>
    <a href="{% url 'comment' pk=blog.pk %}" class="text-info">comment</a>
    <hr>
    {% for comment in blog.comments.all %}
    <div class="comment">
        <div class="date">
            <span class="h5">{{ comment.author }}</span> {{ comment.created_date }}
                <a class="text-danger" href="{% url 'comment_delete' pk=comment.pk %}">삭제</a>
                <a class="text-success" href="{% url 'comment_update' pk=comment.pk %}">수정</a>
        </div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
    <hr style="background-color:black">
    {% endfor %}
</div>
{% endblock %}